body {
  background-image: url("../img/landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

@media screen and (orientation: portrait) {
  body {
    background-image: url("../img/portrait.png");
  }
}
